[user]
    name = Jason Adam
	email = 35201417+Jason-Adam@users.noreply.github.com
    username = Jason-Adam

[credential "https://github.com"]
    username = Jason-Adam

[core]
    editor = vim
    excludesFile = ~/.gitignore_global

[alias]
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30

[commit]
	gpgSign = false
 
 [push]
    autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
